@model YMSweb.Models.ViewModels.VMCamiones_Planificados

@{
    ViewData["Title"] = "Camiones Planificados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />

</head>
<br />
<!--Validacion para desplegar Mensaje despues del POST-->
@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Mensaje: </strong> @Html.Encode(TempData["success"])
        <a href="#" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </a>
    </div>
}
<div class="container">
    <div class="div-title">
        <h4 class="m-0">CAMIONES PLANIFICADOS</h4>
    </div>
    <hr style="color: #0056b2" />
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm())
            {
                <div class="row">
                    <input type="hidden" asp-for="id_campla" />
                    <div class="form-group col-sm-3">
                        <label asp-for="placa" class="control-label">Placa</label>
                        <select class="form-control" id="placa" name="placa" asp-items="@(new SelectList(ViewBag.placas, "id_placa", "plac_desc"))">
                            <option>Seleccione placa</option>
                        </select>
                        <span asp-validation-for="placa" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="tiptran" class="control-label">Transporte</label>
                        <select class="form-control" id="tiptran" name="tiptran" asp-items="@(new SelectList(ViewBag.tipotrans, "id_tiptran", "tiptran_desc"))">
                            <option>Seleccione tipo transporte</option>
                        </select>
                        <span asp-validation-for="tiptran" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="campla_nrotrans" class="control-label">Nro. Transporte</label>
                        <input class="form-control" id="dcampla_nrotrans" name="dcampla_nrotrans" />
                        <span asp-validation-for="campla_nrotrans" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label asp-for="campla_peso" class="control-label">Peso</label>
                        <input class="form-control" id="dcampla_peso" name="dcampla_peso" />
                        <span asp-validation-for="campla_peso" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="campla_volumen" class="control-label">Volumen</label>
                        <input class="form-control" id="dcampla_volumen" name="dcampla_volumen" />
                        <span asp-validation-for="campla_volumen" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="campla_obse" class="control-label">Observaciones</label>
                        <input class="form-control" id="dcampla_obse" name="dcampla_obse" />
                        <span asp-validation-for="campla_obse" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="placa" class="control-label">Nro. Viaje</label>
                        <select class="form-control" id="Nroviaj" name="Nroviaj" asp-items="@(new SelectList(ViewBag.Nroviaj, "id_camplacab", "id_camplacab"))">
                            <option>Seleccione Nro. viaje</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <input type="hidden" name="placa2" id="placa2" value="@ViewData["placa"]" />
                    <input type="submit" value="Agregar" class="btn btn-primary btn-sm" formaction="@Url.Action("Create", "MDCamiones_Planificados")" />
                    <input type="submit" value="Generar Viaje" class="btn btn-primary btn-sm" formaction="@Url.Action("GenerarViaje", "MDCamiones_Planificados")" />
                    <input type="submit" value="Buscar" class="btn btn-primary btn-sm" formaction="@Url.Action("Index", "MDCamiones_Planificados")" />
                </div>
            }
        </div>
    </div>
</div>
<hr style="color: #0056b2" />
<div class="container-fluid">
    <table id="tblplani" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.tiptran)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.placa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.campla_nrotrans)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.campla_peso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.campla_volumen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.campla_obse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_camplacab)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.camplani)
            {
                <tr>
                    <td>
                        @item.tiptran
                    </td>
                    <td>
                        @item.placa
                    </td>
                    <td>
                        @item.campla_nrotrans
                    </td>
                    <td>
                        @item.campla_peso
                    </td>
                    <td>
                        @item.campla_volumen
                    </td>
                    <td>
                        @item.campla_obse
                    </td>
                    <td>
                        @item.id_camplacab
                    </td>
                    <td>

                        @*<input type="hidden" name="id" value="@item.id_campla" />
        <Input type="submit" class='btn btn-danger btn-sm text-white' value="Eliminar" />*@
                        @using (Html.BeginForm())
                        {
                            <input type="submit" value="Editar" class="btn btn-primary btn-sm" formaction="@Url.Action("Edit", "MDCamiones_Planificados")" />
                            <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" formaction="@Url.Action("DeleteConfirmed", "MDCamiones_Planificados")" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />
<br />
<br />
@section Scripts {
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblplani').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }

                }
            });
        });
    </script>
}