@model YMSweb.Data.Entities.MDPlaca

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<!--Validacion para desplegar Mensaje despues del POST-->
@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Mensaje: </strong> @Html.Encode(TempData["success"])
        <a href="#" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </a>
    </div>
}
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="div-title">
                <h4>ELIMINAR PLACA</h4>
            </div>
            <br />
            <h3>¿Esta seguro de eliminar el registro?</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.id_chofer)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.id_chofer)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.id_transp)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.id_transp)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.plac_desc)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.plac_desc)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.plac_act)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.plac_act)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.plac_libre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.plac_libre)
                </dd>
            </dl>
        </div>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_placa" />
        <input type="submit" value="Delete" class='btn btn-danger btn-sm text-white' /> |
        <a class='btn btn-info btn-sm text-white'  asp-action="Index">Regresar</a>
    </form>
</div>
