@model YMSweb.Models.ViewModels.VMUsuario
@*@model YMS.web.Data.Entities.MDUsuario*@

@{
    ViewData["Title"] = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />

</head>
<br />
<!--Validacion para desplegar Mensaje despues del POST-->
@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Mensaje: </strong> @Html.Encode(TempData["success"])
        <a href="#" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </a>
    </div>
}
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="div-title">
                <h4 class="m-0">USUARIOS</h4>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="Create" asp-controller="MDUsuarios" method="post" enctype="multipart/form-data">
                <partial name="_Usuarios" />
                <div class="form-group">
                    <input type="submit" value="Guardar" class='btn btn-info btn-sm text-white' />
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="container-fluid">
                <div class="div-title">
                    <h4>Lista de Usuarios</h4>
                </div>
                <table id="tbluser" class="table table-striped table-bordered" style="width: 100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Usua_user)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Usua_nombres)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Usua_apellidos)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Usua_email)
                            </th>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.Usua_pass)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Usua_act)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.usuario)
                        {
                            <tr>
                                <td>
                                    @item.Usua_user
                                </td>
                                <td>
                                    @item.Usua_nombres
                                </td>
                                <td>
                                    @item.Usua_apellidos
                                </td>
                                <td>
                                    @item.Usua_email
                                </td>
                                <td class="d-none">
                                    @item.Usua_pass
                                </td>
                                <td>
                                    @item.Usua_act
                                </td>
                                <td>
                                    <a class='btn btn-info btn-sm text-white' asp-action="Edit" asp-route-id="@item.IdUsuario">Editar</a> |
                                    @*<a class='btn btn-warning btn-sm text-white' asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |*@
                                    <a class='btn btn-danger btn-sm text-white' asp-action="Delete" asp-route-id="@item.IdUsuario">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr style="color: #0056b2" />
<br />
<br />
<br />
<br />
@section Scripts {
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbluser').DataTable({
                "pageLength": 50,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }

                }
            });
        });
    </script>
}